:root {
  --white: rgba(255, 255, 255, 1);
  --white-07: rgba(255, 255, 255, 0.7);
  --dark-gray: rgba(212, 214, 215, 1);
  --primary-black: rgba(50, 66, 84, 1);
  --btn-primary: linear-gradient(
    180deg,
    rgb(0, 143, 255) 0%,
    rgb(0, 137, 244) 100%
  );
  --btn-primary-shadow: rgba(0, 143, 255, 0.4);
  --blue: rgba(0, 143, 255, 1);

  --dark-secondary: rgb(50, 66, 84);
  --btn-tertiary-border: rgba(161, 204, 237, 1);
  --card-bg: rgba(50, 66, 84, 0.03);
  --bg-ourteam: rgb(245, 245, 245);
  --question-border: rgba(50, 66, 84, 0.2);
  --footer-bg: linear-gradient(
    180deg,
    rgb(40, 53, 68) 0%,
    rgb(17, 23, 30) 100%
  );
  --main-p-color: rgba(86, 99, 113, 1);
}
/* -------------------- common styles -------------------- */

* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: inherit;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Gilroy";
  color: var(--main-p-color);
  font-size: 18px;
  line-height: 24px;
}

.big-container {
  max-width: 1240px;
  margin: 0 auto;
}
.flex {
  display: flex;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-between {
  display: flex;
  justify-content: space-between;
}
.uppercase {
  text-transform: uppercase;
}
.btn {
  color: var(--white);
  font-size: 18px;
  line-height: 22px;

  border-radius: 6px;
}
.btn-primary {
  border: 1px solid var(--btn-primary);
  background: var(--btn-primary);
  box-shadow: 0px 26px 25px -16px var(--btn-primary-shadow);
  align-items: center;
  padding: 28px 32px;
  gap: 20px;

  font-weight: 700;
  line-height: 22.28px;
}
.btn-secondary {
  background: var(--dark-secondary);
  border: 1px solid var(--dark-secondary);
  padding: 24px 32px;
  width: max-content;
  height: max-content;

  margin-top: 20px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
h2 {
  font-size: 48px;
  line-height: 61px;
  font-weight: 900;
  color: var(--primary-black);

  padding-bottom: 50px;
}
.p24-32-medium {
  font-family: "Gilroy-Medium";
  font-size: 24px;
  font-weight: 32px;
}
.gap-120 {
  gap: 120px;
}
.gap-10 {
  gap: 10px;
}
.viewlink {
  color: var(--blue);
  margin: 144px auto 184 auto;
}
/* -------------------- common styles// -------------------- */

#header {
  padding-bottom: 158px;
}
h1 span {
  display: block;
}

h1 + p {
  margin: 32px 0 40px 0;
}
h1 {
  color: var(--primary-black);
  font-family: "Gilroy";
  font-weight: 900;
  font-size: 80px;
  line-height: 101px;

  margin-top: 64px;
}

#logo-black {
  margin-top: 40px;
}
#header .left-side {
  max-width: 536px;
}
#header .right-side {
  display: grid;
  grid-area: 1/1;
}
.gap-100 {
  gap: 100px;
}
.services {
  display: flex;
  flex-flow: row wrap;
  gap: 16px;

  margin-bottom: 80px;
}
.services div {
  border: 1px solid var(--dark-gray);
  width: max-content;

  padding: 16px 24px;
  color: var(--primary-black);
}
#banner {
  display: grid;
  grid-area: 1/1;
}

#menu-icon {
  display: grid;
  grid-area: 1/1;
  justify-self: end;
  margin-top: 48px;
  margin-right: 44px;
}
.socials {
  display: grid;
  grid-area: 1/1;
  justify-self: end;
  align-self: end;
  gap: 16px;

  background: rgba(13, 18, 32, 0.4);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  margin-bottom: 80px;
  padding: 24px;
}
.socials ul {
  display: flex;
  gap: 18px;
}
.socials p {
  color: var(--white-07);
}
/* --- seciton-1 styles --- */
.ourwork-content {
  display: grid;
  gap: 120px;
}
.ourwork-content > div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 70px;
}
.ourwork-content .right-side {
  display: grid;
  align-content: center;
  gap: 32px;
}
.ourwork-content > div:nth-child(even) .left-side {
  order: 1;
}
.article-heading {
  font-size: 48px;
  font-weight: bold;
  line-height: 59px;
  color: var(--dark-secondary);
}

/* --- seciton-1 styles// --- */

/* --- seciton-2 styles --- */
.card {
  width: 588px;

  display: grid;
  grid-template-columns: min-content auto;
  gap: 24px;

  background: var(--card-bg);
  width: 588px;
  padding: 32px;
}
.card-left {
  grid-row: 1;
}
.card-right {
  grid-row: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}
.card-bottom {
  grid-column: 1/-1;
}
.gap-24 {
  gap: 24px;
}
#reviews div.card:first-child {
  /* transform: translate(-50%); */
}
/* --- seciton-ourteam styles --- */
.flex-wrap {
  display: flex;
  flex-flow: row wrap;
}

.btn-tertiary {
  color: var(--primary-black);
  border: 1px solid var(--btn-tertiary-border);
  background-color: transparent;

  padding: 24px 32px;
}
.bg-ourteam {
  background: var(--bg-ourteam);
}

/* --- seciton-faq styles --- */
.question img:last-child {
  display: none;
}
.question {
  border: 1px solid var(--question-border);
  padding: 32px;
}

footer {
  background: var(--footer-bg);
  padding-top: 217px;
  padding-bottom: 64px;
}
footer p,
footer a {
  color: var(--white);
}
footer .big-container > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gap-52 {
  gap: 52px;
}
.mail-address {
  text-decoration: underline;
}
.main-address {
  font-style: normal;
  color: var(--white-07);
}
.footer-socials {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  grid-template-rows: repeat(2, max-content);
  grid-row-gap: 24px;
  grid-column-gap: 32px;
}
