:root {
  --white:rgba(255, 255, 255,1);
  --white-07: rgba(255, 255, 255, 0.7);
  --dark-gray: rgba(212, 214, 215, 1);
  --primary-black: rgba(50, 66, 84, 1);
  --btn-bg-blue: linear-gradient(180deg, #008fff 0%, #0089f4 100%);
  --shadow-l-blue: box-shadow: 0px 26px 25px -16px rgba(0, 143, 255, 0.4);


}
@font-face {
  font-family: "Product Sans";
  src: url(../fonts/Product\ Sans\ Regular.ttf);
}
* {
  box-sizing: border-box;
}
body {
  max-width: 1920px;
  margin: 0;
  padding: 0;

  font-family: "Product Sans", sans-serif;
}
p {
  margin: 0;
}
.big-container {
  max-width: 1240px;
  margin: 0 auto;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  gap: 100px;
}
.uppercase {
  text-transform: uppercase;
}

h1 span {
  display: block;
}

h1 + p {
    margin: 32px 0 40px 0;
}
#logo-black {
    margin-top: 40px;
}
.left-side {
  max-width: 536px;
}
.right-side {
  display: grid;
  grid-area: 1/1;
}
.services {
  display: flex;
  flex-flow: row wrap;
  gap: 16px;

  margin-bottom: 80px;
}


.services div {
  border: 1px solid var(--dark-gray);
  width: max-content;

  padding: 16px 24px;
  color: var(--primary-black);

}
.btn {
  border: 1px solid var(--btn-bg-blue);
  background: var(--btn-bg-blue);
  /* box-shadow: 0px 26px 25px -16px var(--shadow-l-blue); */
  box-shadow: 0px 26px 25px -16px rgba(0, 143, 255, 0.4);
  border-radius: 6px;
  color: var(--white);
  align-items: center;
  padding: 28px 32px;
  gap: 20px;
  font-size: 18px;
  line-height: 22px;
}
#banner {
  display: grid;
  grid-area: 1/1;
}

#menu-icon {
  display: grid;
  grid-area: 1/1;
  justify-self: end;
  margin-top: 48px;
  margin-right: 44px;
}
.socials {
  display: grid;
  grid-area: 1/1;
  justify-self: end;
  align-self: end;
  gap: 16px;

  background: rgba(13, 18, 32, 0.4);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  margin-bottom: 80px;
  padding: 24px;
}
.socials div {
  display: flex;
  gap: 18px;
}
.socials p {
  color: var(--white-07);
}
